@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.font-quicksand {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-nunito {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-red-hat {
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}


/* General Styles */

a {
    text-decoration: none;
    color: #000;
}

a.active-link {
    background: blue;
}

ul {
    list-style: none;
}

.text-gradient {
    background: -webkit-linear-gradient(#18e782, #00b8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #4e6e8d38;
}

/* Primary Header */

header {
    padding: 0 80px;
    box-shadow: 2px 2px 10px -2px rgb(158, 158, 158);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo-container {
    width: 150px;
}

/* <a> tags are innately inline -- so in order manipulate its height, it should be set to inline-block  */
.logo-container a {
    display: inline-block;
    height: 100%;
}

.logo-container img {
    object-fit: cover;
    width: 100%;
}

.nav-links-and-images-container {
    max-width: 1400px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2em;
}

/* Primary Navigation */

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 10px;
    position: relative;
}

.nav-links li a::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0px;
    background: #000;
    transition: all 0.5s ease;
}

/* .nav-links li a:focus {
    outline: none;
    border: none;
} */

.nav-links li a[aria-current="page"] {
    background: blue;
}

.nav-links li a:hover::before,
/* .nav-links li a:focus-within::before, */
.nav-links li a.active-link::before {

    width: 30px;
    transition: all 0.5s ease;
}

.mobile-menu-open-trigger {
    display: none !important;
    margin-left: auto;
    font-size: 1.4rem;
}

.mobile-nav-image-container {
    display: none;
}


/* Hero Section Styles */


#hero {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 95%;
    min-height: calc(100vh - 100px);
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}


.hero-info h1 {
    font-size: 4rem;
}

.hero-info p {
    margin: 20px 0 30px;
    font-size: 1.1rem;
    line-height: 32px;
}

.cta-button-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: auto;
}

.cta-button-container button {
    padding: 16px;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    width: 160px;
    border: none;
    box-shadow: 2px 2px 10px -2px rgb(222, 222, 222);
    cursor: pointer;
    background: #fff;
    transition: all 0.5s ease;
}

.cta-button-container .cta-button-1 {
    color: #fff;
    background-image: linear-gradient(to right, rgb(82, 82, 193), rgb(103, 238, 222));
    background-size: 175%;
    transition: all 1s ease;
    background-position: left;
}


.cta-button-container .cta-button-1:hover,
.cta-button-1:focus {
    background-position: right;
    transition: all 1s ease;
}

.cta-button-container .cta-button-2 {
    color: #fff;
    background-image: linear-gradient(to right, rgb(82, 82, 193), rgb(103, 238, 222));
    background-size: 175%;
    transition: all 1s ease;
    background-position: left;
}


.cta-button-container .cta-button-2:hover,
.cta-button-2:focus {
    background-position: right;
    transition: all 1s ease;
}

.hero-img-container {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-container img {
    aspect-ratio: 5/6;
    object-fit: cover;
}

/* Media Queries */

@media screen and (max-width: 1236px) {

    #hero {
        padding: 32px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .hero-info {
        margin-top: 30px;
        text-align: center;
    }

    .cta-button-container {
        justify-content: center;
        gap: 20px;
        max-width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 1142px) {

    header {
        padding: 40px 0;
        position: absolute;
        top: -2400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease-in-out;
    }

    header.active {
        top: 0;
    }

    .logo-container {
        position: relative;
    }

    .logo-container::before {
        content: '';
        position: absolute;
        bottom: -25px;
        left: -10px;
        right: 0;
        margin: 0 auto;
        filter: blur(10px);
        height: 40px;
        width: 120px;
        background: rgb(230, 230, 230);
        transform: rotateX(80deg);
    }

    nav {
        flex-direction: column;
        justify-content: center;
        font-size: 1.2em;
    }

    .nav-links {
        margin: 30px 0;
    }

    .mobile-nav-image-container {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .mobile-nav-image {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 1rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 /.4), 0 4px 6px -4px rgb(0 0 0 /.4);
    }

    .mobile-menu-open-trigger {
        display: block !important;
        font-size: 1.8rem;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    #hero {
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {

    .logo-container {
        margin: 40px 0 10px;
        position: relative;
    }

    .logo-container::before {
        content: '';
        position: absolute;
        bottom: -25px;
        left: -10px;
        right: 0;
        margin: 0 auto;
        filter: blur(10px);
        height: 40px;
        width: 120px;
        background: rgb(230, 230, 230);
        transform: rotateX(80deg);

    }

    .nav-links {
        margin-bottom: 40px;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        padding: 40px 0;
        border-bottom: 1px solid rgb(184, 184, 184);
    }

    .nav-links li a::before {
        display: none;
    }

    .nav-links-and-images-container {
        padding: 32px 0;
        display: flex;
        flex-direction: column;
    }

    nav {
        width: auto;
        font-size: 1.4em;
    }

    .nav-links {
        margin-top: 0;
        flex-direction: column;
    }

    .mobile-nav-image-container {
        margin-top: 0;
        max-width: 600px;
        margin: 0 auto;
        width: 95%;
    }

    .mobile-nav-image {
        width: 50%;
        height: 50%;
    }

    .hero-img-container {
        max-width: 500px;
        width: 95%;
    }

    .hero-img-container img {
        width: 100%;
        object-fit: cover;
    }

    .hero-info h1 {
        font-size: clamp(2rem, 8vw, 4rem);
    }

    .hero-info {
        width: 95%;
    }
}

@media screen and (max-width: 432px) {

    .mobile-nav-image-container {
        flex-direction: column;
        align-items: center;
    }

    .cta-button-container {
        flex-direction: column;
        align-items: center;
    }
}